#play-pause {
    box-sizing: border-box;
    width: 0;
    height: 75px;
    border-style: solid;
    border-width: 37px 0 37px 60px;
    border-color: transparent transparent transparent #a0a5ee;
    cursor: pointer;
    will-change: border-width;
    transition: all .2s ease;
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 20px;

    &.pause {
        border-style: double;
        border-width: 0px 0 0px 60px;
    }

    &:hover {
        border-color: transparent transparent transparent #6897e8;
    }
}

#add {
    display: none;
    position: absolute;
    top: 120px;
    left: 15px;
    cursor: pointer;
    z-index: 2;

    width: 70px;
    height: 70px;
    background: transparent;

    transition: all .2s ease;

    &.active {
        transform: rotate(45deg);
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        background: #a0a5ee;

    }

    &:hover:before {
        background: #6897e8;
    }

    &:hover:after {
        background: #6897e8;
    }

    &:before {
        left: 50%;
        top: 0;
        bottom: 0;
        width: 16px;
        transform: translateX(-50%);
    }

    &:after {
        left: 0;
        right: 0;
        height: 16px;
        transform: translateY(-50%);
        top: 50%;
    }
}

#add.active {

    &:before,
    &:after {
        content: "";
        position: absolute;
        background: #dc4e4e
    }
}


#clearTrailDots {
    user-select: none;
    transform: rotate(-45deg);
    text-decoration: underline;
    position: absolute;
    top: 315px;
    letter-spacing: -12px;
    left: 8px;
    cursor: pointer;
    z-index: 2;

    width: 70px;
    height: 70px;
    line-height: 10px;
    font-size: 100px;
    color: #dc4e4e;
    text-align: center;

    transition: all .2s ease;
    &:hover {
        color: #e62c2c;
    }
    display: none;
}

#speedControl {
    user-select: none;
    position: absolute;
    top: 245px;

    left: 15px;
    cursor: pointer;
    z-index: 2;

    width: 70px;
    height: 70px;
    line-height: 10px;
    font-size: 80px;
    color: #a0a5ee;
    text-align: center;

    font-family: 'Nunito', sans-serif;
    /* font-family: 'Raleway', sans-serif; */

    transition: all .2s ease;

    &:after {
        content: "x";
    }
    &:hover {
        color: #6897e8;
    }

}